<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ravi.anatolie.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ravi.anatolie.finalproject.TheApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name="ravi.anatolie.finalproject.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ravi.anatolie.finalproject.WebViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName="ravi.anatolie.finalproject.DetailsActivity"/>
        <activity android:name="ravi.anatolie.finalproject.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="ravi.anatolie.finalproject.ResultsActivity"/>
        <activity android:name="ravi.anatolie.finalproject.ResultsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="ravi.anatolie.finalproject.MainActivity"
            />
        <activity android:name="ravi.anatolie.finalproject.AboutActivity"
            android:label="@string/menu_about"
            android:launchMode="singleTop"
            android:parentActivityName="ravi.anatolie.finalproject.MainActivity"
            />
    </application>

</manifest>